<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css"/>
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" />
    <title>Tasin Bazar</title>
</head>
<body>
    <section id="header">
        <a href="/index.htmlS"><img src="https://clipartcraft.com/images/amazon-logo-transparent-font-2.png" alt="Logo" class="logo"></a> 
        
        <div>
            <ul id="navbar">
               <li><a class="active" href="index.html">Home</a></li>
               <li><a href="/shop.html">Shop</a></li>
               <li><a href="/blog.html">Blog</a></li>
               <li><a href="/about.html">About</a></li>
               <li><a href="/contact">Contact</a></li>
               <li id="lg-bag"><a href="cart.html"><i class="far fa-shopping-bag"></i></a></li>
               <a href="#" id="close"><i class="far fa-times"></i></a>
            </ul>
        </div>
        <div id="mobile">
            <a href="cart.html"><i class="far fa-shopping-bag"></i></a>
            <i id="bar" class="fas fa-outdent"></i>
        </div>
    </section>
    
    <section id="bodyOfForget">
        <div class="container">
            <h3>Change Your Password</h3>
            <p>Please enter your new password.</p>
            <form method="post">
                <input type="password" name="new_password" placeholder="New Password" required>
                <input type="password" name="confirm_password" placeholder="Confirm Password" required>
                <div class="input-container">
                    <button type="submit">Submit</button>
                    <a href="/login.html">Cancel</a>
                </div>
            </form>
           
          </div>
        
    </section>

=
    <footer class="section-p1">
        <div class="col">
            <h4>Contact</h4>
            <p><strong>Address:</strong></p>
            <p><strong>Phone:</strong></p>
            <p><strong>Hours:</strong> 10:00-18:00 Mon-Sat</p>
            <div class="follow">
                <h4>Follow Us</h4>
                <div class="icon">
                    <i class="fab fa-facebook-f"></i>
                    <i class="fab fa-twitter"></i>
                    <i class="fab fa-instagram"></i>
                    <i class="fab fa-pinterest-p"></i>
                    <i class="fab fa-youtube"></i>
                </div>
            </div>
        </div>

        <div class="col">
            <h4>About</h4>
            <a href="/about.html">About Us</a>
            <a href="#">Delivery Information</a>
            <a href="#">Privacy Policy</a>
            <a href="#">Terms & Conditions</a>
            <a href="/contact">Contact Us</a>
        </div>

        <div class="col">
            <h4>My Account</h4>
            <a href="/login.html">Sign In</a>
            <a href="/cart.html">View Cart</a>
            <a href="#">My Wishlist</a>
            <a href="#">Track My Order</a>
            <a href="#">Help</a>
        </div>
    </footer>

    <script src="/public/js/script.js"></script>
</body>
</html>